<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简历</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/markdown.css">
</head>
<body>
<script>
    document.body.className += (navigator.userAgent.indexOf('Mobile') !== -1 ? ' mobile' : 'pc')
</script>
<%if (permission) {%>
    <div class="wrap">
        <div class="side">
            <%- include resume/side.html %>
        </div>
        <div class="content">
            <%- include resume/content.html %>
        </div>
    </div>
<%} else {%>
    抱歉你好像没有权限看诶。。。
<%}%>
</body>
</html>