body{
    font-size: 15px;
    line-height: 1.8em;
    font-family: Consolas,Verdana, Lucas Conslole, Tahoma;
    color: #191919;
}

h1{
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.2em 0 .1em;
    line-height: 1em;
}

h2{
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0.7em 0 ;
    padding: 0.3em 0;
}

h3{
    font-size: 1.3em;
    line-height: 2em;
    font-weight: bold;
    margin-top: 1em;
}

h4{
    font-size: 1.1em;
    padding-left: 1em;
}


h4::before{
    content:'★';
    padding:0 0 0 10px;
    color: rgb(139, 0, 0);
    margin-right:1em;
    font-size:1em;
    position: absolute;
    margin-left: -2em;
}
a{
    color: #e34334;
    padding: 0.3em 0 0.1em;
    text-decoration: underline;
    font-family: Microsoft Yahei, Consoles;
    font-size: 1em;
}
a:hover{
    color: #fff;
    background: #e34334;
    text-decoration: none;
}
strong{
    font-weight: bold;
    color: rgb(139, 0, 0);
}


dl{
    display: inline-block;
    vertical-align: top;
}

ul{
    padding-left: 40px;
}
li{
    list-style-type: none;
    text-indent: 0;
}
ul{
    padding-left: 0;
}
ul li{
    display: inline-block;
    padding: 0 0 0 1.5em;
    margin-right: .5em;
}

li::before{
    content:'❤';
    color: rgb(139, 0, 0);
    padding:0 0 0 10px;
    margin-right:1em;
    font-size:1em;
    position: absolute;
    margin-left: -2em;
}
p{
    line-height: 1.8em;
    margin: 0.5em 0;
}
li p{
    text-indent:0;
}
code{
    font-family: Consolas;
    color: gray;
    border: 1px solid #222;
    padding: 2px;
    background-color: rgb(248, 248, 248);   border: 1px solid rgb(221, 221, 221);
}
pre code{
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(221, 221, 221);
    width: 100%;
    margin: 0;
    border-radius: 3px;
    overflow-x: auto;
}



