/**
 * 单个内容页面的基础样式
** author: zhulin;
** date : 2013-06-17;
 */

/**
 * 文字默认颜色设成191919或者3a3a3a
** 链接色设成5a5a5a
** 高亮设成e34334
** 描边用efefef，更高级别的用dedede
** 背景灰色fafafa比较低的灰或者f5f5f5都可以
** 通常比较简单的层次是，背景色1个，描边1个，文字两个+高亮
 */

body{
    font-size: 15px;
    line-height: 2em;
    font-family: Consolas,Verdana, Lucas Conslole, Tahoma;
    color: #191919;
}


/*markdown 语法*/

h1{
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.2em 0 .1em;
    line-height: 1em;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0.7em 0 .2em;
    padding: 0.3em 0;
}
h3{
    font-size: 1.3em;
    line-height: 2em;
    font-weight: bold;
    margin-top: 1em;
}
h4{
    font-size: 1.1em;
}
a{
    /*color: #5a5a5a;*/
    color: #e34334;
    padding: 0.3em 0 0.1em;
    text-decoration: underline;
    font-family: Microsoft Yahei, Consoles;
    font-size: 1em;
}
a:hover{
    color: #fff;
    background: #e34334;
    text-decoration: none;
}
em,strong{
    font-weight: bold;
}


dl{
    display: inline-block;
    vertical-align: top;
}

ul{
    padding-left: 40px;
}
li{
    list-style-type: none;
    text-indent: 0;
}

li::before{
    font-family: FontAwesome;
    content:'\f13';
    padding:0 0 0 10px;
    margin-right:1em;
    color: rgb(139,0,0);
    font-size:1em;
    position: absolute;
    margin-left: -2em;
}
p{
    line-height: 1.8em;
    margin: 0.5em 0;
}
li p{
    text-indent:0;
}
p img{
    vertical-align: bottom;
}
code{
    font-family: Consolas;
    color: gray;
    border: 1px solid #222;
    padding: 2px;
    background-color: rgb(248, 248, 248);   border: 1px solid rgb(221, 221, 221);
}
pre code{
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(221, 221, 221);
    width: 100%;
    margin: 0;
    border-radius: 3px;
    overflow-x: auto;
}


 blockquote::before {
    content: "\“";
    position: absolute;
    font-size: 60px;
    left: -69px;
    font-family: T;  font-weight: bold;  font-style: normal;
    color: #5e5e5e;
}
blockquote {
    text-indent: 30px;
    position: relative;
    font-family: cursive;
    font-style: italic;
}
blockquote::after {
    content: "\”";
    font-size: 70px;
    position: absolute;
    right: -70px;
    bottom: -18px;
    font-family: T;
    font-weight: bold;
    font-style: normal;
    color: #5e5e5e;
}

blockquote blockquote::before {
  font-size: 40px;
}

blockquote blockquote::after {
   font-size: 40px;
}


